In [9]:
import mysql.connector
from datetime import datetime

In [50]:
connection = mysql.connector.connect(host='localhost',
                                     port=3306,
                                     database='foodapp',
                                     user='root',
                                     password='')
if connection.connection_id:
    print(f"Connection established with ID::{connection.connection_id}")
else:
    print("Connection not established")

Connection established with ID::346

## Fields in restaurant_registration table 
1. id (auto increment)
2. restaurantname
3. fssailicno
4. gstin
5. cgst
6. sgst
7. restaurantphone
8. restaurantemail
9. restaurantaddress
10. restaurantmembershipstatus
11. registrationdate

In [51]:
now = datetime.now()
now = now.strftime("%Y-%m-%d %H:%M:%S")

In [56]:

INSERT_QUERY = ("INSERT INTO foodapp.resturant_registration"
            "(restaurantname,fssailicno,gstin,cgst,sgst,restaurantphone,restaurantemail,restaurantaddress,restaurantmembershipstatus,registrationdate)" 
                "VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")
data = ("green",'1234ABC','112233qwe' ,'0.05','0.05','1234567890','yello@mailcom','''Lane-4 Patia''','Active',now)

In [57]:
cursor = connection.cursor()
cursor.execute(INSERT_QUERY,data)
connection.commit()

In [ ]:
to_update = {"restaurantname":"rainbow","cgst":"0.15","sgst":"0.15"}
UPDATE_QUERY = "UPDATE foodapp.resturant_registration SET %s = %s WHERE id = %s "

In [59]:
FETCH_QUERY = "SELECT id,restaurantname FROM foodapp.resturant_registration "
cursor.execute(FETCH_QUERY)
for data in cursor.fetchall():
    print(data)

(4, 'yellow')
(5, 'blue')
(6, 'green')

In [62]:
# first get the ID and restaurant name in all the records
FETCH_QUERY = "SELECT id,restaurantname FROM foodapp.resturant_registration "
cursor.execute(FETCH_QUERY)
records = cursor.fetchall() # returns a list of tuples

In [ ]:
# retrve the ID with regards to a current name

In [83]:
def update_record(id_,data_dict):
    #get the current record for restaurant using info in for_
#     FETCH_QUERY = "SELECT id,restaurantname FROM foodapp.resturant_registration WHERE id = %s "
#     cursor.execute(FETCH_QUERY,(id_,))
#     data = cursor.fetchone()
#     print(data)
    
    for column in data_dict.keys():
        UPDATE_QUERY = "UPDATE foodapp.resturant_registration SET %s = %s WHERE id = %s "%(column,data_dict[column],id_)
        cursor.execute(UPDATE_QUERY)
        connection.commit()

In [87]:
import json
x ='0.15', '0.15', '1234567890', 'yello@mailcom', 'Lane-4 Patia', 'Active'), (6, 'green', '1234ABC', '112233qwe', '0.05', '0.05', '1234567890', 'yello@mailcom', 'Lane-4 Patia', 'Active')]
json.dumps(x)

'[[4, "yellow", "1234ABC", "112233qwe", "0.05", "0.05", "1234567890", "yello@mailcom", "Lane-4 Patia", "Active"], [5, "blue", "1234ABC", "112233qwe", "0.15", "0.15", "1234567890", "yello@mailcom", "Lane-4 Patia", "Active"], [6, "green", "1234ABC", "112233qwe", "0.05", "0.05", "1234567890", "yello@mailcom", "Lane-4 Patia", "Active"]]'

In [91]:
#x =[(4, 'yellow', '1234ABC', '112233qwe', '0.05', '0.05', '1234567890', 'yello@mailcom', 'Lane-4 Patia', 'Active', datetime.datetime(2022, 8, 5, 18, 36, 4)), (5, 'blue', '1234ABC', '112233qwe', '0.15', '0.15', '1234567890', 'yello@mailcom', 'Lane-4 Patia', 'Active', datetime.datetime(2022, 8, 5, 18, 36, 4)), (6, 'green', '1234ABC', '112233qwe', '0.05', '0.05', '1234567890', 'yello@mailcom', 'Lane-4 Patia', 'Active', datetime.datetime(2022, 8, 5, 18, 36, 4))]
payload = []
for t in data:
    temp = dict()
    temp['id'] = t[0]
    temp['restaurantname'] = t[1]
    temp['fssailicno'] = t[2]
    temp['gstin'] = t[3]
    temp['cgst'] = t[4]
    temp['sgst'] = t[5]
    temp['restaurantphone'] = t[6]
    temp['restaurantemail'] = t[7]
    temp['restaurantaddress'] = t[8]
    temp['restaurantmembershipstatus'] = t[9]
    temp['registrationdate'] = t[10]
    payload.append(temp)

## Order DB Operations 

Database Schema:
1. orderid
2. type
3. ordertime
4. itemname
5. unitprice
6. quantity
7. totalprice
8. orderstatus
9. clientname
10. clientphone
11. clientaddress
12. itemid
13. itemsize

In [2]:
import mysql.connector
from datetime import datetime

In [3]:
connection = mysql.connector.connect(host='localhost',
                                     port=3306,
                                     database='foodapp',
                                     user='root',
                                     password='')
if connection.connection_id:
    print(f"Connection established with ID::{connection.connection_id}")
else:
    print("Connection not established")

Connection established with ID::277

In [24]:
input_payload = {"orderid": "1200dhsafsdkjhf",
                 "type": "takeaway",
                 "ordertime": "22-08-2022 08:35:00",
                 "itemname": "burger",
                 "unitprice": "120.00",
                 "quantity": "2",
                 "totalprice": "240",
                 "orderstatus": "Order placed",
                 "clientname": "abc",
                 "clientphone": "1234567890",
                 "clientaddress": "E/200 CDA Sector-7 cuttack 753014",
                 "itemid": "9",
                 "itemsize": "small"

                }

In [8]:
input_payload.keys()

dict_keys(['orderid', 'type', 'ordertime', 'itemname', 'unitprice', 'quantity', 'totalprice', 'orderstatus', 'clientname', 'clientphone', 'clientaddress', 'itemid', 'itemsize'])

In [25]:
INSERT_QUERY = ("INSERT INTO foodapp.order_database"
               "(orderid, type, ordertime, itemname, unitprice, quantity, totalprice, orderstatus, clientname, clientphone, clientaddress, itemid, itemsize)"
               "VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")

In [12]:
list(input_payload.values())

['1200dhsa-fsdkjhf',
 'takeaway',
 '22-08-2022 08:35:00',
 'chilly chicken',
 '120.00',
 '2',
 '240',
 'Order placed',
 'abc',
 '1234567890',
 'E/200 CDA Sector-7 cuttack 753014',
 '6',
 'small']

In [26]:
cur = connection.cursor()

cur.execute(INSERT_QUERY,list(input_payload.values()))

In [27]:
connection.commit()

In [31]:
UPDATE_QUERY = "UPDATE foodapp.order_database SET %s = %s WHERE orderid = '%s' " % ("clientphone",input_payload["clientphone"],"1200dhsa-fsdkjhf")

In [32]:
UPDATE_QUERY

"UPDATE foodapp.order_database SET clientphone = 1234567890 WHERE orderid = '1200dhsa-fsdkjhf' "

In [33]:
cur.execute('''UPDATE foodapp.order_database SET orderstatus = done WHERE(SELECT * FROM foodapp.order_database WHERE orderid = '1200dhsa-fsdkjhf') ''')

DataError: 1241 (21000): Operand should contain 1 column(s)